<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student PARTY CORP - Formulaire DJ</title>
</head>
<body>
<h1>Student PARTY CORP</h1>
<h2>Formulaire d'inscription DJ</h2>

<form action="{{ form_action }}" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Informations personnelles</legend>

        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>
        <br><br>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required>
        <br><br>

        <label for="email">E-mail :</label>
        <input type="email" id="email" name="email" required>
        <br><br>

        <label for="telephone">Numéro de téléphone :</label>
        <input type="tel" id="telephone" name="telephone">
        <br><br>

        <label for="portfolio">URL du portfolio :</label>
        <input type="url" id="portfolio" name="portfolio">
        <br><br>
    </fieldset>

    <br>

    <fieldset>
        <legend>Informations sur l'événement</legend>

        <label for="date_soiree">Date de la soirée :</label>
        <input type="date" id="date_soiree" name="date_soiree">
        <br><br>

        <label for="materiel">Le DJ vient-il avec son matériel ?</label>
        <input type="checkbox" id="materiel" name="materiel" value="1">
        <br><br>

        <label for="couleur">Couleur favorite :</label>
        <input type="color" id="couleur" name="couleur">
        <br><br>

        <label for="photo">Photo du DJ :</label>
        <input type="file" id="photo" name="photo" accept="image/*">
        <br><br>
    </fieldset>

    <br>

    <fieldset>
        <legend>Matériel audio</legend>

        <label for="nb_enceintes">Nombre d’enceintes :</label>
        <input type="number" id="nb_enceintes" name="nb_enceintes" min="0">
        <br><br>

        <label for="puissance">Puissance des enceintes (W) :</label>
        <input type="number" id="puissance" name="puissance" min="0">
        <br><br>
    </fieldset>

    <br>

    <input type="submit" value="Envoyer l'inscription">
    <input type="reset" value="Réinitialiser">
</form>

<p>
    <a href="{{ admin_url }}">Accéder au back-office DJ</a>
</p>
</body>
</html>
